body {
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Montserrat SemiBold";
    font-size: 30px;

}
.search{
    margin-left: 100px;
    text-align: center;
}

.search1:hover {
    transition: transform 0.2s linear;

}



