body {
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Montserrat SemiBold";
    font-size: 30px;
}

.title-one{
    font-size: 50px;
    display: flex;
}
.search-os{
    display: flex;
    margin-left: 100px;
    text-align: center;
}

.search-one:hover {
    transition: transform 0.2s linear;

}



