body {
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Montserrat SemiBold";
    font-size: 30px;
}

.title-one{
    font-size: 50px;
    display: flex;
}
.search-os{
    margin-left: 100px;
    text-align: center;
}

.search-one {
	font-size: 35pt;
    margin: 15pt;
	transition: font-size 1s ;
}
.search-one:hover {
    font-size: 40pt;

}



