<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
<p>Это стартовая страница сайт</p>

    <div class="search">
        <a href="/А" class="search1">А</a>
        <a class="search1" href="/Б">Б</a>
        <a class="search1" href="/В">В</a>
        <a class="search1" href="/Г">Г</a>
        <a class="search1" href="/Д">Д</a>
        <a class="search1" href="/Е">Е</a>
        <a class="search1" href="/Ё">Ё</a>
        <a class="search1" href="/Ж">Ж</a>
        <a class="search1" href="/З">З</a>
        <a class="search1" href="/З">З</a>
        <a class="search1" href="/И">И</a>
        <a class="search1" href="/Й">Й</a>
        <a class="search1" href="/К">К</a>
        <a class="search1" href="/Л">Л</a>
        <a class="search1" href="/М">М</a>
        <a class="search1" href="/Н">Н</a>
        <a class="search1" href="/О">О</a>
        <a class="search1" href="/П">П</a>
        <a class="search1" href="/Р">Р</a>
        <a class="search1" href="/С">С</a>
        <a class="search1" href="/Т">Т</a>
        <a class="search1" href="/У">У</a>
        <a class="search1" href="/Ф">Ф</a>
        <a class="search1" href="/Х">Х</a>
        <a class="search1" href="/Ц">Ц</a>
        <a class="search1" href="/Ч">Ч</a>
        <a class="search1" href="/Ш">Ш</a>
        <a class="search1" href="/Щ">Щ</a>
        <a class="search1" href="/Э">Э</a>
        <a class="search1" href="/Ю">Ю</a>
        <a class="search1" href="/Я">Я</a>
    </div>
</body>
</html>