<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
<div class="container">
    <div class="title-one">
        <p>Это стартовая страница сайт</p>
    </div>

    <div class="search-os">
        <a href="/А" class="search-one">А</a>
        <a href="/Б" class="search-one">Б</a>
        <a href="/В" class="search-one">В</a>
        <a href="/Г" class="search-one">Г</a>
        <a href="/Д" class="search-one">Д</a>
        <a href="/Е" class="search-one">Е</a>
        <a href="/Ё" class="search-one">Ё</a>
        <a href="/Ж" class="search-one">Ж</a>
        <a href="/З" class="search-one">З</a>
        <a href="/З" class="search-one">З</a>
        <a href="/И" class="search-one">И</a>
        <a href="/Й" class="search-one">Й</a>
        <a href="/К" class="search-one">К</a>
        <a href="/Л" class="search-one">Л</a>
        <a href="/М" class="search-one">М</a>
        <a href="/Н" class="search-one">Н</a>
        <a href="/О" class="search-one">О</a>
        <a href="/П" class="search-one">П</a>
        <a href="/Р" class="search-one">Р</a>
        <a href="/С" class="search-one">С</a>
        <a href="/Т" class="search-one">Т</a>
        <a href="/У" class="search-one">У</a>
        <a href="/Ф" class="search-one">Ф</a>
        <a href="/Х" class="search-one">Х</a>
        <a href="/Ц" class="search-one">Ц</a>
        <a href="/Ч" class="search-one">Ч</a>
        <a href="/Ш" class="search-one">Ш</a>
        <a href="/Щ" class="search-one">Щ</a>
        <a href="/Э" class="search-one">Э</a>
        <a href="/Ю" class="search-one">Ю</a>
        <a href="/Я" class="search-one">Я</a>
    </div>
    <div>
        <form action="" method="post">
            <p></p><label for="name">Фио</label></p>
            <p></p><input type="text" name="name"></p>

	        <p><label for="biography">Биография</label></p>
            <p><input type="text" name="biography"></p>
	        <p>
	            <input type="submit">
	        </p>
            {% if message %}
                    <p>{{ message }}</p>
            {% endif %}
        </form>
    </div>
</div>

</body>
</html>