<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
<div class="container">
    <div class="title-one">
        <p>Это стартовая страница сайт</p>
    </div>

    <div class="search-os">
        <a href="/А" class="search-one">А</a>
        <a href="/Б" class="search1">Б</a>
        <a href="/В" class="search1">В</a>
        <a href="/Г" class="search1">Г</a>
        <a href="/Д" class="search1">Д</a>
        <a href="/Е" class="search1">Е</a>
        <a href="/Ё" class="search1">Ё</a>
        <a href="/Ж" class="search1">Ж</a>
        <a href="/З" class="search1">З</a>
        <a href="/З" class="search1">З</a>
        <a href="/И" class="search1">И</a>
        <a href="/Й" class="search1">Й</a>
        <a href="/К" class="search1">К</a>
        <a href="/Л" class="search1">Л</a>
        <a href="/М" class="search1">М</a>
        <a href="/Н" class="search1">Н</a>
        <a href="/О" class="search1">О</a>
        <a href="/П" class="search1">П</a>
        <a href="/Р" class="search1">Р</a>
        <a href="/С" class="search1">С</a>
        <a href="/Т" class="search1">Т</a>
        <a href="/У" class="search1">У</a>
        <a href="/Ф" class="search1">Ф</a>
        <a href="/Х" class="search1">Х</a>
        <a href="/Ц" class="search1">Ц</a>
        <a href="/Ч" class="search1">Ч</a>
        <a href="/Ш" class="search1">Ш</a>
        <a href="/Щ" class="search1">Щ</a>
        <a href="/Э" class="search1">Э</a>
        <a href="/Ю" class="search1">Ю</a>
        <a href="/Я" class="search1">Я</a>
    </div>
</div>
</body>
</html>